{% extends "base.html" %}
{% load static %}

{% block title %} {{ page_name }} {% endblock %}

{% block content %}
<!-- Start Top Bar -->
<div class="top-bar" id="main-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Coffee Site</li>
      {% if user.is_authenticated %}
      <li><a href="/blogcreate">Create Blog Post</a></li>
      {% endif %}
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="dropdown menu" data-dropdown-menu>
      {% if user.is_authenticated %}
      <li><a href="/logout/">Logout</a></li>
      {% else %}
      <li class="menu-text">Log In</li>
      {% endif %}
    </ul>
  </div>
</div>
<!-- End Top Bar -->

<div class="callout large primary">
  <div class="row column text-center">
    <h1>Coffee Site</h1>
    <h2 class="subheader">Site for Coffee Snobs to Unite!</h2>
  </div>
</div>

<!-- We can now combine rows and columns when there's only one column in that row -->
<div class="row medium-8 large-7 columns">
  {% for item in content %}
  <div class="blog-post">
    <h3>{{ item.title}} <small> {{ item.published_on }}</small></h3>
    <img class="thumbnail" alt="{{ item.image_description }}" src="media/{{ item.image }}">
    <p>{{ item.content }}</p>
    <div class="callout">
      <ul class="menu simple">
        <li><a href="#">Author: {{ item.author }}</a></li>
        <li><a href="#">Comments: 3</a></li>
      </ul>
    </div>
  </div>
  {% endfor %}


</div>
{% endblock %}
